<section class="section service bg-black-10 text-center" aria-label="service">
  <div class="container">
    <p class="section-subtitle label-2">Estrategias Digitales que Impactan</p>

    <h2 class="headline-1 section-title">Servicios De Marketing Digital</h2>

    <p class="section-text">
      Potenciamos tu marca y conectamos con tu audiencia. Creamos sitios web
      modernos, diseñamos gráficos impactantes y capturamos la esencia de tu
      negocio con fotografías profesionales. Además, desarrollamos estrategias
      publicitarias innovadoras para maximizar tu alcance y engagement en
      plataformas digitales.
    </p>

    <ul class="grid-list">
      <li>
        <div class="service-card">
          <a href="#" class="has-before hover:shine">
            <figure
              class="card-banner img-holder"
              style="--width: 285; --height: 336"
            >
              <img
                src="../../../assets/images/pexels-designecologist-1779487.jpg"
                width="285"
                height="336"
                loading="lazy"
                alt="Breakfast"
                class="img-cover"
              />
            </figure>
          </a>

          <div class="card-content">
            <h3 class="title-4 card-title">
              <a href="#">Diseño Web</a>
            </h3>

            <a href="#" class="btn-text hover-underline label-2">Saber Más</a>
          </div>
        </div>
      </li>

      <li>
        <div class="service-card">
          <a href="#" class="has-before hover:shine">
            <figure
              class="card-banner img-holder"
              style="--width: 285; --height: 336"
            >
              <img
                src="../../../assets/images/pexels-magnus-mueller-1398178-2818118.jpg"
                width="285"
                height="336"
                loading="lazy"
                alt="Appetizers"
                class="img-cover"
              />
            </figure>
          </a>

          <div class="card-content">
            <h3 class="title-4 card-title">
              <a href="#"> Pauta publicitaria en Facobook & Instagram</a>
            </h3>

            <a href="#" class="btn-text hover-underline label-2">Saber Más</a>
          </div>
        </div>
      </li>

      <li>
        <div class="service-card">
          <a href="#" class="has-before hover:shine">
            <figure
              class="card-banner img-holder"
              style="--width: 285; --height: 336"
            >
              <img
                src="../../../assets/images/pexels-jonathanborba-3052727.jpg"
                width="285"
                height="336"
                loading="lazy"
                alt="Drinks"
                class="img-cover"
              />
            </figure>
          </a>

          <div class="card-content">
            <h3 class="title-4 card-title">
              <a href="#">Diseño Gráfico</a>
            </h3>

            <a href="#" class="btn-text hover-underline label-2">Saber Más</a>
          </div>
        </div>
      </li>

      <li>
        <div class="service-card">
          <a href="#" class="has-before hover:shine">
            <figure
              class="card-banner img-holder"
              style="--width: 285; --height: 336"
            >
              <img
                src="../../../assets/images/pexels-cottonbro-3206167.jpg"
                width="285"
                height="336"
                loading="lazy"
                alt="Drinks"
                class="img-cover"
              />
            </figure>
          </a>

          <div class="card-content">
            <h3 class="title-4 card-title">
              <a href="#">Producción de fotografía y video</a>
            </h3>

            <a href="#" class="btn-text hover-underline label-2">Saber Más</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
