<section class="section service bg-black-10 text-center" aria-label="service" id="service">
  <div class="container">
    <p class="section-subtitle label-2">Estrategias Digitales que Impactan</p>

    <h2 class="headline-1 section-title">Servicios De Marketing Digital</h2>

    <p class="section-text">
      Potenciamos tu marca y conectamos con tu audiencia. Creamos sitios web
      modernos, diseñamos gráficos impactantes y capturamos la esencia de tu
      negocio con fotografías profesionales. Además, desarrollamos estrategias
      publicitarias innovadoras para maximizar tu alcance y engagement en
      plataformas digitales.
    </p>

    <ul class="grid-list">
      <li *ngFor="let service of services">
        <div class="service-card">
          <a  class="has-before hover:shine cursor" (click)="openModal(service)">
            <figure class="card-banner img-holder" style="--width: 285; --height: 336">
              <img [src]="service.image" width="285" height="336" loading="lazy" [alt]="service.title" class="img-cover" />
            </figure>
          </a>
          <div class="card-content">
            <h3 class="title-4 card-title">
              <a href="#" (click)="openModal(service)">{{ service.title }}</a>
            </h3>
            <a  class="btn-text hover-underline label-2 cursor" (click)="openModal(service)">Saber Más</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ selectedService?.title }}</h2>
    <p>{{ selectedService?.description }}</p>
  </div>
</div>
