<header class="header" data-header #header>
  <div class="container">
    <a href="#" class="logo">
      <img src="../../../assets/images/globan-logo.png" width="160" height="50" alt="Grilli - Home">
    </a>

    <nav class="navbar" #navbar data-navbar>
      <button class="close-btn" aria-label="close menu" (click)="toggleNavbar()" data-nav-toggler>
        <fa-icon [icon]="close" aria-hidden="true"></fa-icon>
      </button>

      <a href="#" class="logo">
        <img src="../../../assets/images/globan-logo.png" width="160" height="50" alt="Grilli - Home">
      </a>

      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#home" class="navbar-link hover-underline active">
            <div class="separator"></div>
            <span class="span">Home</span>
          </a>
        </li>
        <li class="navbar-item">
          <a href="#menu" class="navbar-link hover-underline">
            <div class="separator"></div>
            <span class="span">Servicios</span>
          </a>
        </li>
        <li class="navbar-item">
          <a href="#about" class="navbar-link hover-underline">
            <div class="separator"></div>
            <span class="span">Quiénes Somos</span>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link hover-underline">
            <div class="separator"></div>
            <span class="span">Contacto</span>
          </a>
        </li>
      </ul>

       <div class="text-center">
        <p class="headline-1 navbar-title">Contacto</p>
        <address class="body-4">
          Bueno Aires, Argentina
        </address>
        <!-- <a href="mailto:manuelgimenez7@gmail.com" class="body-4 sidebar-link">Lic. Juan Manuel Gimenez</a> -->
        <div class="separator"></div>
        <p class="contact-label">Lic. Juan Manuel Gimenez</p>
        <a href="tel:+5491157281229" class="body-1 contact-number hover-underline">+5491157281229</a>
      </div>
    </nav>

<!--     <a href="#" class="btn btn-secondary">
      <span class="text text-1">Find A Table</span>
      <span class="text text-2" aria-hidden="true">Find A Table</span>
    </a> -->

    <button class="nav-open-btn" aria-label="open menu" (click)="toggleNavbar()" data-nav-toggler>
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </button>

    <div class="overlay" #overlay data-nav-toggler data-overlay></div>
  </div>
</header>
