<section
  class="section about text-center"
  aria-labelledby="about-label"
  id="about"
>
  <div class="container">
    <div class="about-content">
      <p class="label-2 section-subtitle" id="about-label">Transformando ideas en impacto digital.</p>

      <h2 class="headline-1 section-title">Quiénes Somos</h2>

      <p class="section-text">
        Somos una agencia de Argentina que busca brindarte las mejores
        herramientas de marketing digital para ayudarte a potenciar tu negocio,
        mejorar tu imagen de marca y aumentar tus ventas. Trabajamos de manera
        personalizada y única con cada uno de nuestros clientes. Te ofrecemos
        los mejores recursos y estrategias para alcanzar tus objetivos.
      </p>

      <div class="contact-label">Contáctanos</div>

      <a href="tel: +5491157281229" class="body-1 contact-number hover-underline"
        > +5491157281229</a
      >

      <a href="#" class="btn btn-primary">
        <span class="text text-1">Enviar Mensaje</span>

        <span class="text text-2" aria-hidden="true">Muchas Gracias!</span>
      </a>
    </div>

<!--     <figure class="about-banner">
      <img
        src="../../../assets/images/pexels-canvastudio-3194519.jpg"
        width="570"
        height="570"
        loading="lazy"
        alt="about banner"
        class="w-100"
        data-parallax-item
        data-parallax-speed="1"
      />

      <div
        class="abs-img abs-img-1 has-before"
        data-parallax-item
        data-parallax-speed="1.75"
      >
        <img
          src="../../../assets/images/pexels-canvastudio-3194518.jpg"
          width="285"
          height="285"
          loading="lazy"
          alt=""
          class="w-100"
        />
      </div>
    </figure> -->
  </div>
</section>
