<footer class="footer section has-bg-image text-center"
    style="background-color: var(--black); margin-top: 10rem;" >
    <div class="container">

      <div class="footer-top grid-list">


        <ul class="footer-list">

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Home</a>
          </li>

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Servicios</a>
          </li>

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Quiénes Somos</a>
          </li>


          <li>
            <a href="#" class="label-2 footer-link hover-underline">Contacto</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Facebook</a>
          </li>

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Instagram</a>
          </li>


        </ul>

      </div>

      <div class="footer-bottom">

        <p class="copyright">
          &copy; 2024 GLOBAL. All Rights Reserved
        </p>

      </div>

    </div>
  </footer>
