<section
  class="hero text-center"
  aria-label="home"
  id="home"
  #parallaxContainer
>
  <ul class="hero-slider" data-hero-slider #heroSlider>
    <li class="slider-item active" data-hero-slider-item>
      <div class="slider-bg">
        <img
          src="../../../assets/images/pexels-junior-teixeira-1064069-2047905.jpg"
          width="1880"
          height="950"
          alt=""
          class="img-cover"
        />
      </div>

      <p class="label-2 section-subtitle slider-reveal">
        Tu visión, nuestra web
      </p>

      <h1 class="display-1 hero-title slider-reveal font-family">
        Diseño, Desarrollo<br />
        y Mantenimiento Web
      </h1>

      <p class="body-2 hero-text slider-reveal">
        Creación de Sitios Web empresariales, institucionales, comerciales y
        otros. Hosting y actualizaciones.
      </p>

      <a href="#service" class="btn btn-primary slider-reveal">
        <span class="text text-1">Ver Nuestros Servicios</span>

        <span class="text text-2" aria-hidden="true"
          >Ver Nuestros Servicios</span
        >
      </a>
    </li>

    <li class="slider-item active" data-hero-slider-item>
      <div class="slider-bg">
        <img
          src="../../../assets/images/pexels-anniroenkae-2832382.jpg"
          width="1880"
          height="950"
          alt=""
          class="img-cover"
        />
      </div>

      <p class="label-2 section-subtitle slider-reveal">
        Conecta y crece en redes sociales
      </p>

      <h1 class="display-1 hero-title slider-reveal">
        Pauta Publicitaria<br />
        en Facebook & Instagram
      </h1>

      <p class="body-2 hero-text slider-reveal">
        Creación de estrategia y elaboración de contenido audiovisual conforme a
        los objetivos de campaña.
      </p>

      <a href="#service" class="btn btn-primary slider-reveal">
        <span class="text text-1">Ver Nuestros Servicios</span>

        <span class="text text-2" aria-hidden="true"
          >Ver Nuestros Servicios</span
        >
      </a>
    </li>

    <li class="slider-item active" data-hero-slider-item>
      <div class="slider-bg">
        <img
          src="../../../assets/images/pexels-tobiasbjorkli-1661496.jpg"
          width="1880"
          height="950"
          alt=""
          class="img-cover"
        />
      </div>

      <p class="label-2 section-subtitle slider-reveal">
        Diseño que habla por ti
      </p>

      <h1 class="display-1 hero-title slider-reveal">Diseño Gráfico</h1>

      <p class="body-2 hero-text slider-reveal">
        Creación de Manual de Marca, Logos, Brochures, Catálogos, Menús, Flyers
        y más.
      </p>

      <a href="#service" class="btn btn-primary slider-reveal">
        <span class="text text-1">Ver Nuestros Servicios</span>

        <span class="text text-2" aria-hidden="true"
          >Ver Nuestros Servicios</span
        >
      </a>
    </li>

    <li class="slider-item active" data-hero-slider-item>
      <div class="slider-bg">
        <img
          src="../../../assets/images/pexels-kalvisuals-3379934.jpg"
          width="1880"
          height="950"
          alt=""
          class="img-cover"
        />
      </div>

      <p class="label-2 section-subtitle slider-reveal">
        Tu visión, nuestra lente
      </p>

      <h1 class="display-1 hero-title slider-reveal">
        Producción<br />
        de Fotografía y Video
      </h1>

      <p class="body-2 hero-text slider-reveal">
        Producciones fotográficas y de video. En estudio o en locación.
        Cobertura de eventos, cocktails, presentaciones y más.
      </p>

      <a href="#service" class="btn btn-primary slider-reveal">
        <span class="text text-1">Ver Nuestros Servicios</span>

        <span class="text text-2" aria-hidden="true"
          >Ver Nuestros Servicios</span
        >
      </a>
    </li>
  </ul>

  <!-- <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
    <fa-icon [icon]="back"></fa-icon>
  </button>

  <button class="slider-btn next" aria-label="slide to next" data-next-btn>
    <fa-icon [icon]="forward"></fa-icon>
  </button> -->

  <!--   <a href="#" class="hero-btn has-after">
    <img
      src="./assets/images/hero-icon.png"
      width="48"
      height="48"
      alt="booking icon"
    />

    <span class="label-2 text-center span">Book A Table</span>
  </a> -->
</section>
