<section class="section testi text-center has-bg-image" style="background-image: url(../../../assets/images/background-1702930_1280.jpg);" aria-label="testimonial">
<div class="container">

  <p class="headline-2 testi-text">
    ¡Comunicáte con nosotros a través de Whatsapp, correo electrónico o dejanos tu mensaje y nos contactaremos contigo cuanto antes!
  </p>

  <div class="wrapper">
    <div class="separator"></div>
    <div class="separator"></div>
    <div class="separator"></div>
  </div>
  <div class="profile">
    <img src="../../../assets/images/foto carnet.jpg" width="100" height="100" loading="lazy" class="img" alt="">
    <p class="label-2 profile-name">Lic. Juan Manuel Gimenez</p>
  </div>
</div>
</section>





<!-- <div>
  <h1 class="estilos-contacto" id="contact">Contacto</h1>
  <p class="parrafo-texto">
    ¡Comunicáte con nosotros a través de Whatsapp, correo electrónico o
    dejanos tu mensaje y nos contactaremos contigo cuanto antes!
  </p>
  <div class="fotocarnet">
    <img src="../../../assets/images/foto carnet.jpg" width="200" alt="" />
    <p>Lic.Juan Manuel Gimenez</p>
    <a href="tel:+5491157281229" class="topbar-item">
      <img src="../../../assets/images/whatsapp.png" width="30" alt="" />
    </a>
  </div>
</div>
 -->
