<div class="topbar">
  <div class="container">
    <address class="topbar-item">
      <div class="icon">
        <fa-icon [icon]="location" aria-hidden="true"></fa-icon>
      </div>

      <span class="span">Ciudad Autónoma de Buenos Aires, Argentina</span>
    </address>


    <div class="topbar-item item-2">


    </div>
    <a href="tel:+5491157281229" class="topbar-item">
      <div class="icon">
        <img src="../../../assets/images/whatsapp.png" width="20" aria-hidden="true">
      </div>
    </a>

    <div class="separator"></div>

    <a href="mailto" class="topbar-item">
      <div class="icon">
        <fa-icon [icon]="mail" aria-hidden="true"></fa-icon>
      </div>
      <span class="span">globalmkt.arg&#64;gmail.com</span>
    </a>
  </div>
</div>
