<div class="topbar">
  <div class="container">
    <address class="topbar-item">
      <div class="icon">
        <fa-icon [icon]="location" aria-hidden="true"></fa-icon>
      </div>

      <span class="span"> Buenos Aires, Argentina </span>
    </address>


    <div class="topbar-item item-2">


    </div>
    <a href="tel:+5491157281229" class="topbar-item">
      <div class="icon">
        <fa-icon [icon]="phone" aria-hidden="true"></fa-icon>
      </div>
      <span class="span"> +5491157281229 </span>
    </a>

    <div class="separator"></div>

    <a href="mailto" class="topbar-item">
      <div class="icon">
        <fa-icon [icon]="mail" aria-hidden="true"></fa-icon>
      </div>
      <span class="span">Lic. Juan Manuel Gimenez</span>
    </a>
  </div>
</div>
